body {
    background-color: rgb(115, 88, 88);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 22px;
    padding-top: 5px;
    text-align: center;
}

.hair-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hair {
    width: 350px;
    padding: 15px;
    background-color: #ffffff
    border: rgb(115, 88, 88)
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(60,60,60,0.1);
}

.hair img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 5px;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    width: 500px;
    background-size: contain;
}

nav ul {
    list-style: none;
    text-align: center;
    font-size: large;
}

nav li {
    display: inline-block;
}


footer {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-left img {
    width: 300px;
}

.footer-right {
    text-align: right;
}